################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstDatos_Tarea05/.vs/EstDatos_Tarea05/v15/Server/sqlite3
